@{
    ViewBag.Title = "Manage Users";
}
<div id="AddID">  </div>
<div id="EditID">   </div>
<div id="DeleteID">   </div>
<div class="row" id="mymodal">
    <div id="UpdateID">
        @await Html.PartialAsync("_BindUsers")
    </div>
</div>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/assets/data-tables/datatables.min.js"></script>
    <script type="text/javascript" src="~/assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $('#table1').DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
        ModalClose1 = function () {
            $("#AddID").html('');
        }
        ModalClose2 = function () {
            $("#EditID").html('');
        }

        ModalClose3 = function () {
            $("#DeleteID").html('');
        }
        AddRolebyId = function () {
            var url = '@Url.Action("AddUser", "User")';
            $.get(url, function (response) {
                $('#AddID').html(response);
            });
        };

        EditRolebyId = function (roleId) {
            var url = '@Url.Action("EditUser", "User")' + '?id=' + roleId;
            $.get(url, function (response) {
                $('#AddID').html(response);
            });
        }

        DeleteRolebyId = function (roleId) {
            var url = '@Url.Action("DeleteUser", "User")' + '?id=' + roleId;
            $.get(url, function (response) {
                $('#AddID').html(response);
            });
        }

        $(document).on('click', '#AddRoleclose', function () {
            $('#divpopup').html('');
        });

    </script>


}

