@{
    ViewBag.Title = "IP Patients";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-4">IP Patients</h1>
        </div>
        <div class="row">
        </div>
    </div>
</div>