@{
    ViewBag.Title = "OP Schedule";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="display-4">OP Schedule</h1>
        </div>
        <div class="row">
        </div>
    </div>
</div>