@model ApplicationRoleListViewModel
@using DMLAutomationProcess.Models

@if (Model != null)
{
    <form asp-action="DeleteRoleConfirm" asp-controller="Account" data-ajax="true" data-ajax-method="POST" data-ajax-update="#UpdateID" data-ajax-loading="#LoadingID" data-ajax-complete="ModalClose1" data-ajax-success="ModalClose">
        @Html.HiddenFor(m => m.Id)
        <div class="modal fade in dilogbox_sec" id="myModal" role="dialog" aria-hidden="false" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="ModalClose1()">&times;</button>
                        <h4 class="modal-title">Delete Role Confirm ?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal" action="">
                            <div class="col-sm-12 text-center">
                                <section class="col-sm-10">
                                    Are you sure want to delete this role <strong>" @Model.RoleName "</strong> Permanently?
                                </section>
                                <section class="col-sm-10">
                                    Role <strong>" @Model.RoleName "</strong> has linked to <strong>" @Model.NumberOfUsers "</strong> Users.
                                    <br />
                                    <b>If you delete this, then associated information will also get deleted.</b>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> Delete</button>
                        <button type="button" class="btn btn-default" onclick="ModalClose1()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
<style>
    .modal-dialog {
        position: absolute;
        z-index: 9999999;
        margin: 0px auto;
        left: 32%;
    }

    #mymodal {
        opacity: 0.5;
    }
</style>
